*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: rgba(105, 100, 100, 0.397);
    margin: 10%;
    border-radius: 1em;
}

.titulo {
    color: black;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;  
}

/*Menu*/

:root {
    --red: #e74c3c;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: rgba(8, 8, 8, 0.944);
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu {
    text-align: left;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: right;
    background-color: rgba(248, 248, 248, 0.886);
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    position: relative;
    display: block;
    padding: 2px;
  }
  
  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: linear-gradient(to right, rgb(240, 71, 71), rgb(238, 148, 75), rgba(255, 238, 0, 0.993));
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .menu a:hover::before {
    transform: scaleX(1);
}

.menu-fixed {
    position: fixed;
    z-index: 10000;
    top:0;
    width: 100%;
}

/* header */

header{
    width: 100%;
    height: 400px;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgba(71, 6, 7, 0.377), rgba(112, 52, 3, 0.342), rgba(119, 92, 3, 0.384)), url(../Img/comidafondo3.jpg); 
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.11)), url(../Img/comidafondo3.jpg);
    background-size: contain;
    background-attachment: fixed;
    position: relative;
    background-repeat:  repeat;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0, 0, 1000px, 0;
}

.textos-header h1 {
    font-family: 'Righteous', cursive;
    font-size:900%;
    font-weight: 500px;
    color: ghostwhite;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
}

/* header */

header{
    width: 100%;
    height: 400px;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgba(71, 6, 7, 0.377), rgba(112, 52, 3, 0.342), rgba(119, 92, 3, 0.384)), url(../Img/comidafondo1.jpg); 
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.11)), url(../Img/comidafondo1.jpg);
    background-size: contain;
    background-attachment: fixed;
    position: relative;
    background-repeat:  repeat;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0, 0, 1000px, 0;
}

.textos-header h1 {
    font-family: 'Righteous', cursive;
    font-size:900%;
    font-weight: 500px;
    color: ghostwhite;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
}

/* About us*/

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
    margin: 1%;
    border-radius: 1em;
}

.contenedor-sobre-nosotros .contenedor-textos {
    widows: 48%;
}

.contenedor-textos h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

.Primero{
    color: #FF6363;
}
.contenedor-textos h3 span {
    font-family: 'Righteous', cursive;
    color: #fff;
    border-radius: 60%;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.Uno{
    background: #FF6363;
}
.Dos{
    background: #FFAC63;
}
.Tres{
    background: #FFE163;
}

.Primero{
    color: #FF6363;
    font-size: 250%;
}
.Segundo{
    color: #FFAC63;
    font-size: 250%;
}
.tercero{
    color: #FFE163;
    font-size: 250%;
}


/*Galeria*/

.portafolio {
    background: #fff;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    transform: scale(1);
    background:hsla(0, 0%, 0%, 0.534);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.imagen-port:hover .hover-galeria {
    transform: scale(0);
}

.Click {
    width: 40px;
    height: 50px;
}

/*Terminos*/

.terminos {
    display: flex;
    overflow-y: auto;
    padding: 16px;
    background-color: rgba(218, 213, 213, 0.562);
    border-radius: 2em;
    width:  100%;
    margin: 0 0 0 10%;
}

/*Noticias*/

.Noticias {
    display: flex;
    overflow-y: auto;
    padding: 16px;
    background-color: rgba(218, 213, 213, 0.562);
    border-radius: 2em;
    width:  100%;
}

.card {
    border: #ccc;
    margin-right: 10px;
    position: relative;
    padding: 10px;
    border-color: blue /*linear-gradient(to bottom, rgba(159, 5, 5, 0.623), rgba(174, 82, 6, 0.64), rgba(180, 157, 5, 0.672))*/;
    border-radius: 2em;
}

.cuerpo-card h5, .cuerpo-card p {
    margin: 0;
    font-size: 10px;
}

.cuerpo-card h5 {
    font-size: 20px;
}

.cuerpo-card p {
    font-size: 15px;
}

.card img {
    width: 289px;
    object-fit: cover;
    height: 200px;
    border-radius: 2em;
}

/*Footer*/

footer{
    background: #0000006b;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 5px;
}

.content-foo p {
    color: #ccc;
}

.Titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #696464;
}